extends layout

block content
  form( method="POST" )
    fieldset
      legend New Recipe
      p
        input( type='text' placeholder='Recipe Name')
        input( name='source' type='text')
        input( name='author' type='text')
        input( name='serves' type='text')
        input( name='categories' type='text')
        input( name='cookTimeHrs' type='text')
        input( name='cookTimeMins' type='text')
        input( name='prepTimeHrs' type='text')
        input( name='prepTimeMins' type='text')
        input( name='date' type='text')
        input( name='nutritional notes' type='text')

      h3 Ingredients
      p 
        input( name='foodName[]' type='text')
        input( name='foodID[]' type='text')
        input( name='categories[]' type='text')
        input( name='quantity[]' type='text')
        input( name='weight[]' type='text')
        input( name='weightUnit[]' type='text')
        input( name='volume[]' type='text')
        input( name='volumeUnit[]' type='text')
        input( name='price[]' type='text')
      p 
        input( name='foodName[]' type='text')
        input( name='foodID[]' type='text')
        input( name='categories[]' type='text')
        input( name='quantity[]' type='text')
        input( name='weight[]' type='text')
        input( name='weightUnit[]' type='text')
        input( name='volume[]' type='text')
        input( name='volumeUnit[]' type='text')
        input( name='price[]' type='text')

      h3 Instructions
      p 
        input( name='text[]' type='text')
        input( name='stepNum[]' type='text')
        input( name='isOptional[]' type='text')
        input( name='notes[]' type='text')
        input( name='startTimeHrs[]' type='text')
        input( name='startTimeMin[]' type='text')

      p
        input( type='submit' )
