div( ng-controller='recipe-ctrl' )
  h1
    | {{title}}
  h3 Ingredients
  ul
    li( ng-repeat='ingredient in ingredients' )
      | {{ ingredient.name }} 
  h3 Instructions
  ul
    li( ng-repeat='step in steps' )
      | {{ step }}
