div( ng-controller='recipe-list-ctrl' )
  h1
    | {{title}}
  | Search for a recipe:
  input( ng-model='recipeSearchText' )
  h3 Your Recipes:
  ul
    li( ng-repeat='recipe in recipes | filter:recipeSearchText' )
      a.recipeName( ng-href='#/recipe/{{recipe.id}}' )
        | {{recipe.name}}
